:root {
    --primary-color: #FFD15B;
    --secondary-color: #7A7A7A;
    --tertiary-color: #C6C6C6;
    --main-bg-color: #EDEDED;
}

body {
    font-family: "Manrope", sans-serif;
    max-width: 1440px;
    margin: auto;
}

input[type="text"] {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

/*HEADER*/
header {
    background-image: url("../assets/images/background/hero-image.jpg");
    height: 667px;
}

.header-logo {
    margin: 51px 0 160px 69px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section h1 {
    font-size: 2.75rem;
    color: var(--primary-color);
    font-family: "Anton", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#global-search {
    width: 954px;
    height: 72px;
    outline: none;
    border-radius: 11px;
    border: none;
    padding-left: 35px;
}

#global-search::placeholder {
    color: var(--secondary-color);
    font-weight: normal;
    font-size: 1rem;
}

.global-search-container {
    position: relative;
}

.global-search-cross {
    display: none;
    position: absolute;
    top: 50%;
    right: 85px;
    transform: translateY(-50%);
    cursor: pointer;
}

.wen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 51px;
    height: 52px;
    border-radius: 11px;
    background-color: #000;
    cursor: pointer;
}

.wen-container:hover {
    background-color: var(--primary-color);
}

.wen-container:hover>img {
    filter: invert(1);
}

/*SECTION SEARCHBAR*/
.search-bar {
    display: flex;
    justify-content: space-between;
    padding: 21px 102px 55px;
    background-color: var(--main-bg-color);
}

.dropdown-container {
    display: flex;
    gap: 66px;
}

.dropdown {
    position: relative;
    border-radius: 11px;
    width: 195px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #FFF;
    padding: 17px 16px;
    border-radius: 11px;
}

.dropdown-title {
    font-weight: normal;
}

.dropdown-toggle {
    transition: transform 0.3s ease;
}

.dropdown.open .dropdown-toggle {
    transform: rotate(180deg);
}

.dropdown.open .dropdown-header {
    border-radius: 11px 11px 0 0;
}

.dropdown-content {
    display: none;
    background-color: #FFF;
    position: absolute;
    width: 100%;
    max-height: 268px;
    font-size: 0.857rem;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    z-index: 1;
}

.dropdown.open .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-search-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    padding-top: 1px;
}

.dropdown-search {
    width: 163px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid var(--tertiary-color);
    outline: none;
    padding-left: 9px;
    color: var(--secondary-color);
}

.dropdown-search-cross, .dropdown-search-wen {
    position: absolute;
    cursor: pointer;
}

.dropdown-search-wen {
    filter: invert(.5);
    height: 14px;
    right: calc((100% - 163px) / 2 + 11px);
    top: 12px;
}

.dropdown-search-cross {
    display: none;
    height: 6px;
    right: calc((100% - 163px) / 2 + 35px);
    top: 15px;
}

.dropdown-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 21px;
    height: 37px;
    padding-left: 16px;
    padding-right: 14px;
    background-color: var(--primary-color);
}

.dropdown-selection img {
    display: none;
    cursor: pointer;
}

.dropdown-selection:hover {
    font-weight: bold;
}

.dropdown-selection:hover>img {
    display: inline-block;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-left: 16px;
    gap: 13px;
    padding-bottom: 10px;
}

.dropdown-item span {
    pointer-events: none;
}

.dropdown-item:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

.dropdown-tags {
    margin-top: 21px;
}

.dropdown-tags li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 17px 21px 17px 16px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.dropdown-tags li:last-child {
    margin-bottom: 0;
}

.dropdown-tags li img {
    height: 10px;
    filter: brightness(0%);
    cursor: pointer;
}

.search-bar p {
    font-family: "Anton", sans-serif;
    font-size: 1.3rem;
    margin-top: 17px;
}

/*MAIN*/
main {
    background-color: var(--main-bg-color);
    padding-bottom: 50px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 48px;
    row-gap: 66px;
    margin: 0 101px;
}

.recipe-card {
    position: relative;
    width: 380px;
    background-color: #FFF;
    border-radius: 21px;
    box-shadow: 0 4px 34px 30px rgba(0, 0, 0, 4%);
}

.recipe-time {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 15px;
    background-color: var(--primary-color);
    border-radius: 14px;
}
.recipe-img {
    height: 253px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.recipe-title {
    font-family: "Anton", sans-serif;
    font-size: 1.125rem;
    font-weight: normal;
    padding: 32px 25px 29px;
}

.recipe-container {
    padding: 0 25px 61px;
}

.recipe-container h3 {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.recipe-container p {
    font-size: .875rem;
    margin-bottom: 32px;
}

.ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 21px;
}

.ingredient-list li {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: .875rem;
    font-weight: 500;
}

.quantity {
    color: var(--secondary-color);
}